<!-- definieer het bestand type -->
<!DOCTYPE html>
<!-- welke taal wordt gebruikt voor deze site  -->
<html lang="eu">
<!-- het hoofd van de html -->
<head>
<!-- welke charset wordt gebruikt. In deze situatie is het utf-8 standaard -->
<meta charset="utf-8">
<!-- de titel van de pagina -->
<title>Login</title>
<!-- JavaScript connection near html -->
<script src="{{ url_for('static', filename='js/js/home.js') }}"></script>
<!-- de link tussen css en html -->
<link rel="stylesheet" href="static/css/login.css"/>
<link rel="stylesheet" href="static/css/toolbar.css">
</head>
<!-- een class gemaakt voor de video in de achtergrond en de tekst moet vooraan staan. design is in css -->
{ % block content % }
<header class="v-header">
        <div class="fullscreen-video-wrap">
         <video src="static/image/1.mp4", muted="true" autoplay="true" loop="true"></video>
          </div>
          <!-- de body van de html en de class waar ik de design deed in de CSS -->
          <body class="body">
          <!-- een box waar de tekst erin kom te staan  -->
          <div class="box">
          <!-- een box alleen voor de titel van de tekst -->
             <div class="container">
             <!-- de link balk waar de pagina wordt gelinkt naar de andere pagina  -->
             <!-- heb het design in css gedaan zodat alles boven en naast elkaar komt te staan en ook het zwevende effect -->
             <div class="nav-wrapper">
             <!-- dit is zodat de link naar linksboven blijven staan ook gestyle in css -->
              <div class="left-side">
               <!-- een class gemaakt voor de link, hoe zal de link reageren als de muis erop zit en ook voor beter spacing tussen de boven links link. -->
               <div class="nav-link-wrapper">
                  <!-- link naar de video pagina -->
                   <a href="{{ url_for('projecten') }}">FAQ</a>
               </div>
                  <!-- de link naar een andere pagina gestyled en positie gegeven in css -->
                   <div class="nav-link-wrapper">
                       <!-- de link naar de overons page -->
                       <a href="{{ url_for('register') }}">Contact</a>
                   </div>
                   <div class="nav-link-wrapper">
                      <!-- link naar de form pagina -->
                       <a href="{{ url_for('form1') }}"></a>
                       </div>
                   <!-- de link naar de hoofdmenu -->
                   <div class="nav-link-wrapper">
                       <a href="{{ url_for('overons') }}"></a>

              
                   </div>      
                   <div class="nav-link-wrapper">
                      <a href="{{ url_for('login') }}"></a>
                   </div> 
                       </div>
                       <!-- zorg dat de login link naar login pagina recht boven een positie krijgt-->
                       <div class="right-side">
                       
                       </div>
                       </div>
                       <br>
                       <form class="form" method="POST" action="/login">
                           <div class="text">
                               <p>Welkom bij Corendon</p>
                               {% with messages = get_flashed_messages() %}
                               {% if messages %}
                               {{ messages[0] }}
                           </div>
                                {% endif %}
                                {% endwith %}
                           <div class="control">
                               <input type="email" name="email" placeholder="Uw e-mail" autofocus="">
                           </div>
                           <div class="control">
                               <input class="input is-large" type="text" name="flightnumber" placeholder="Uw vluchtnummer">                            
                           </div>
                           <div class="control">
                               <input class="input is-large" type="text" name="seatnumber" placeholder="Uw stoelnummer">                               
                           </div>
                           <div class="control2">
                               <input type="checkbox" name="remember"> 
                               <p>Vergeet me niet</p>
                            </div>
                            
                            <div class="control3">
                                <button class="button">Login</button>
                            </div>
                        </form>
                       </div>
                       <br>
                       <!-- een box onder de title box waar de text kom erin staan -->
                       <div class="container">
                       
            </div>
            
            </div>
            
            </body>
            
</header>
{% endblock %}
</html>
